<a href="https://colab.research.google.com/github/Aditi16324/Guessing-Game/blob/main/My_First_Day.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Different Types Of Data

INT- whole(+ve)

CTRL + enter- same line

In [4]:

#variable - something which can change
population = 9873941174

print(population)

9873941174

In [5]:
employment_rate = 23

print(employment_rate)

23

In [7]:
years_until_2030 = 2030 - 2025

print(years_until_2030)

5

In [11]:
inflation_rate = 5.34
gdp_growth = 6.3
price_of_wheat = 20.75

print(inflation_rate, gdp_growth, price_of_wheat)

5.34 6.3 20.75

In [13]:
COUNTRY = "india"

economic_term = "inflation"

print(COUNTRY)
print(economic_term)

india
inflation